* {
    box-sizing: border-box;
}

@media screen and (max-width: 960px) {
    #leftAside {
        display: none;
    }
    #rightAside {
        width: 15%;
    }
    main {
        width: 85%;
    }
}

@media screen and (max-width: 600px) {
    #rightAside {
        display: none;
    }
    main {
        width: 100%;
    }
}


    