* {
    box-sizing: border-box;
}

@media screen and (max-width: 960px) {
    #leftAside {
        display: none;
    }
    #rightAside {
        width: 9%;
        float: right;
    }
    #fullInsideMain {
        width: 85%;
    }
}

@media screen and (max-width: 600px) {
    #rightAside {
        display: none;
    }
     #fullInsideMain {
        width: 100%;
    }
}

#moneyExchangeInputs {
    float: left;
}

#examplesForInputs {
    float: right;
}
    